body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Dark Mode */

.dark-mode {
  background-image: linear-gradient(to right top, #FFECEC 0%, #e5bee0 100%);
  color: black;
}

/* Light mode. */
.light-mode {
  background-image: linear-gradient(to right top, #78c8e1 0%, #103c79 100%);
  color: white;
}

/* Introduction */

nav {
  background: transparent;
}


nav a {
  font-size: 25px;
  color: black;
}

a {
  text-decoration: none;
  font: 40px;
}

.img1 {
  height: 250px;
  width: 250px;
  float: right;
  border-radius: 100%;
}

.intro {
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}


h1 {
  font-size: 60px;
}

p {
  font-size: 25px;
}

.info {
  display: inline-block;
  margin: 5%;
}

.my-projects {
  padding-top: 5%;
}

.card-img-top {
  max-height: 500px;
}

.bottom-container {
  /* background-color: #66bfbf; */
  background: transparent;
  text-align: center;
  padding-bottom: 70px;
  padding-top: 40px;
}
.footer-link {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
  margin: 0 20px;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  color: #66bfbf;
  text-decoration: none;
}

.contact-me {
  text-align: center;
  margin-top: 10%;
  padding: 5%;
}

.contact-element {
  margin: 5%;
}

.card-deck {
  padding: 5%;
}
@media only screen and (max-width: 700px) {
  .contact-element {
    font-size: 25px;
  }

  /* Toggle Button. */
  .e1 {
    font-size: 35px;
  }
  .contact-element:last-child {
    font-size: 15px;
  }
  .footer-link {
    font-size: 25px;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(236, 176, 48);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1e2023;
}

input:focus + .slider {
  box-shadow: 0 0 1px #101112;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
